<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <div class="row logo-row">
          <div class="col-xs-6  col-sm-3 logo-cell">
            <p><img class="img-responsive img-logo" src="/images/LOGO.png" alt="Cleveland Food Blog" /></p>
          </div>
          <div class="col-xs-6 col-sm-9">
            <h1 class="hidden-xs">Cle Food Blog!</h1>
            <p>A journey thru the Cleveland food scene from a couple of people who really love cardamom bombs.</p>
          </div>
        </div>
        <!-- <div class="row">
          <div class="col-xs-12 col-md-6">
            <a class="btn btn-primary btn-lg btn-block" href="#" role="button" id="btnComingSoon">Vote: Food Fight</a>
          </div>
          <div class="col-xs-12 col-md-6">
            <a class="btn btn-success btn-lg btn-block" href="#" role="button" id="btnComingSoon">Go To: Brunch, Lunch, Dinner</a>
          </div>
        </div> -->
    </div>
</div>
