<div class="well">
    <h4>Blog Categories</h4>
    <div class="row">
        <div class="col-xs-6">
            <ul class="list-unstyled">
                <li><a href="/category/Reviews">Reviews</a>
                </li>
                <li><a href="/category/Recipes">Recipes</a>
                </li>
                <li><a href="/category/{{ "How To's"|url_encode }}">How To's</a>
                </li>
            </ul>
        </div>
        <div class="col-xs-6">
            <ul class="list-unstyled">
                <li><a href="/category/{{ 'Friday Food Fight'|url_encode }}">Food Fights</a>
                </li>
                <li><a href="/category/{{ 'Where To Find...'|url_encode }}">Where To Find...</a>
                </li>
                <li><a href="/category/Interviews">Interviews</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.row -->
</div>
