

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.jumbotron {
    background-image: url(https://instagram.fmkc1-1.fna.fbcdn.net/vp/1329f242e5fddad00cac9de97baca79a/5B270B0F/t51.2885-15/s750x750/sh0.08/e35/28436120_593223101024814_3188102164522205184_n.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.jumbotron .container {
    background-color: rgba(255,255,255,.35);
    border-radius: 10px;
}
